.dept-card {
    background-color: white;
    border-radius: 10px;
    padding-block: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 10px;
}

.dept-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dept-name{
    padding-left: 10px;
    width: 200px;
}

.dept-delete,
.dept-edit{
    padding-right: 20px;
    cursor: pointer;
}

.dept-delete{
    color: rgb(224, 89, 89);
    &:hover{
        color: rgb(223, 69, 69);
    }

}
