.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #001769;
}

.header-subtext{
    display: flex;
    flex-direction: row;
}