.measure-contriner {
    .css-13cymwt-control {
        height: 80px !important;

        &:hover,
        :focus {
            height: 80px !important;
        }
    }

    .css-qbdosj-Input {
        height: 80px !important;

        &:hover,
        :focus {
            height: 80px !important;
        }
    }

    .css-166bipr-Input {
        height: 80px !important;

        &:hover,
        :focus {
            height: 80px !important;
        }
    }

}

.flex-row{
    margin-top: 20px;
}